.roboto{
    &_t{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 100;
    }

    &_l{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
    }

    &_r{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    &_m{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
    }

    &_b{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    &_blk{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
    }
}


.work{
    &_t{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 100;
    }

    &_xl{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 200;
    }

    &_l{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
    }

    &_r{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    &_m{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
    }

    &_sb{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
    }

    &_b{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    &_xb{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 800;
    }

    &_blk{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 900;
    }
}

.poppins{
    &_b{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
    }
}


.font{
    &_12{ font-size: 12px; }

    &_13{ font-size: 13px; }

    &_14{ font-size: 14px; }

    &_15{ font-size: 15px; }

    &_16{ font-size: 16px; }

    &_17{ font-size: 17px; }

    &_18{ font-size: 18px; }

    &_19{ font-size: 19px; }

    &_20{ font-size: 20px; }

    &_21{ font-size: 21px; }

    &_22{ font-size: 22px; }

    &_23{ font-size: 23px; }

    &_24{ font-size: 24px; }

    &_25{ font-size: 25px; }

    &_26{ font-size: 26px; }

    &_27{ font-size: 27px; }

    &_28{ font-size: 28px; }

    &_29{ font-size: 29px; }

    &_30{ font-size: 30px; }

    &_31{ font-size: 31px; }

    &_32{ font-size: 32px; }

    &_34{ font-size: 34px; }

    &_36{ font-size: 36px; }

    &_38{ font-size: 38px; }

    &_40{ font-size: 40px; }

    &_42{ font-size: 42px; }
}
