header{
    .view_pc{
        .width_100{
            .contianer{
                // width: 1424px !important;

                .width_25{

                }

                .width_45{
                    .menu{
                        li{
                            display: inline;
                            list-style-type: none;
                            a{
                                color: #0c0c0e;
                            }
                        }
                    }
                }

                .width_30{
                    .width_100{
                        .width_48{
                            .call{
                                background: #003878;
                                display: block;
                            }
                            .contact{
                                background: #f47820;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .view_tabsp{
        position: fixed;
        box-shadow: 4px 2px 14px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 4px 2px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 2px 14px -1px rgba(0,0,0,0.75);

        .width_100{
            .contianer{
                // width: 1424px !important;

                .width_25{

                }
                .width_60{
                    .width_100{
                        .width_48{
                            .call{
                                background: #003878;
                                display: block;
                            }
                            .contact{
                                background: #f47820;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}