.section_1 .view_pc .hero_bg {
  background-image: url("../img/sect1/hero.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.section_1 .view_pc .hero_bg .hero_content h1 {
  font-size: 80px;
  letter-spacing: -0.02em;
}

.section_1 .view_pc .hero_bg .hero_content p {
  text-transform: uppercase;
}

.section_1 .view_tabsp .hero_bg {
  background-image: url("../img/sect1/hero.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: 76%;
}

.section_1 .view_tabsp .hero_bg .hero_content h1 {
  font-size: 10vw !important;
}

.section_1 .view_tabsp .hero_bg .hero_content p {
  text-transform: uppercase;
  line-height: 180% !important;
}

.section_2 .view_pc .sect2_bg {
  background: #003878;
}

.section_2 .view_pc .sect2_bg .container h3 {
  color: #939393;
}

.section_2 .view_pc .sect2_bg .container h1 {
  font-size: 50px;
  letter-spacing: -0.02em;
  line-height: 130% !important;
}

.section_2 .view_pc .sect2_bg .container .p_1 {
  line-height: 180% !important;
}

.section_2 .view_pc .sect2_bg .container .sect2_items {
  padding-top: 3vw;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item1 .img {
  padding: 0.2vw 0;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item1 p {
  padding-top: 2vw;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item2 p {
  padding-top: 2vw;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item3 .img {
  padding: 0.4vw 0;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item3 p {
  padding-top: 2vw;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item4 .img {
  padding: 0.4vw 0;
}

.section_2 .view_pc .sect2_bg .container .sect2_items .width_22 .item4 p {
  padding-top: 2vw;
}

.section_2 .view_tabsp .sect2_bg {
  background: #003878;
}

.section_2 .view_tabsp .sect2_bg .container h3 {
  color: #939393;
}

.section_2 .view_tabsp .sect2_bg .container h1 {
  letter-spacing: -0.02em;
  line-height: 130% !important;
}

.section_2 .view_tabsp .sect2_bg .container .p_1 {
  line-height: 180% !important;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items {
  padding-top: 3vw;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item1 .img {
  padding: 0.2vw 0;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item1 p {
  padding-top: 2vw;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item2 p {
  padding-top: 2vw;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item3 .img {
  padding: 0.4vw 0;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item3 p {
  padding-top: 2vw;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item4 .img {
  padding: 0.4vw 0;
}

.section_2 .view_tabsp .sect2_bg .container .sect2_items .width_96 .item4 p {
  padding-top: 2vw;
}

.section_3 .view_pc .sect3_bg {
  background-image: url("../img/sect3/sect3_bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.section_3 .view_pc .sect3_bg .container .sect3_content h3 {
  color: #939393;
}

.section_3 .view_pc .sect3_bg .container .sect3_content h1 {
  font-size: 50px;
  letter-spacing: -0.02em;
  line-height: 120% !important;
  color: #0c0c0e;
}

.section_3 .view_pc .sect3_bg .container .sect3_content .p_1 {
  line-height: 180% !important;
  color: #0c0c0e;
}

.section_3 .view_pc .sect3_bg .container .sect3_content .sect3_no .item1 h3, .section_3 .view_pc .sect3_bg .container .sect3_content .sect3_no .item2 h3, .section_3 .view_pc .sect3_bg .container .sect3_content .sect3_no .item3 h3 {
  font-size: 70px;
  color: #f58233;
}

.section_3 .view_tabsp .sect3_bg {
  background: #eaebea;
}

.section_3 .view_tabsp .sect3_bg .container .sect3_content h3 {
  color: #939393;
}

.section_3 .view_tabsp .sect3_bg .container .sect3_content h1 {
  font-size: 50px;
  letter-spacing: -0.02em;
  line-height: 120% !important;
  color: #0c0c0e;
}

.section_3 .view_tabsp .sect3_bg .container .sect3_content .p_1 {
  line-height: 180% !important;
  color: #0c0c0e;
}

.section_3 .view_tabsp .sect3_bg .container .sect3_content .sect3_no .item1 h3, .section_3 .view_tabsp .sect3_bg .container .sect3_content .sect3_no .item2 h3, .section_3 .view_tabsp .sect3_bg .container .sect3_content .sect3_no .item3 h3 {
  color: #f58233;
}

.section_4 .view_pc .sect4_bg .container h3 {
  color: #939393;
}

.section_4 .view_pc .sect4_bg .container h1 {
  font-size: 60px;
  letter-spacing: -0.02em;
  line-height: 130% !important;
}

.section_4 .view_pc .sect4_bg .container .p_1 {
  line-height: 180% !important;
}

.section_4 .view_pc .sect4_bg .container .sect4_items .width_22 .item1 .img {
  margin-right: auto;
}

.section_4 .view_pc .sect4_bg .container .sect4_items .width_22 .item2 .img {
  padding: 2.1vw  0;
  margin-right: auto;
}

.section_4 .view_pc .sect4_bg .container .sect4_items .width_22 .item3 .img {
  margin-right: auto;
}

.section_4 .view_pc .sect4_bg .container .sect4_items .width_22 .item4 .img {
  margin-right: auto;
}

.section_4 .view_tabsp .sect4_bg .container h3 {
  color: #939393;
}

.section_4 .view_tabsp .sect4_bg .container h1 {
  font-size: 60px;
  letter-spacing: -0.02em;
  line-height: 130% !important;
}

.section_4 .view_tabsp .sect4_bg .container .p_1 {
  line-height: 180% !important;
}

.section_4 .view_tabsp .sect4_bg .container .sect4_items .width_46 .item1 .img {
  margin-right: auto;
}

.section_4 .view_tabsp .sect4_bg .container .sect4_items .width_46 .item2 .img {
  padding: 2.1vw  0;
  margin-right: auto;
}

.section_4 .view_tabsp .sect4_bg .container .sect4_items .width_46 .item3 .img {
  margin-right: auto;
}

.section_4 .view_tabsp .sect4_bg .container .sect4_items .width_46 .item4 .img {
  margin-right: auto;
}

.section_5 .view_pc .sect5_bg {
  background: #003878;
}

.section_5 .view_pc .sect5_bg h1 {
  font-size: 50px;
  letter-spacing: -0.02em;
  line-height: 120% !important;
}

.section_5 .view_pc .sect5_bg h3 {
  text-transform: uppercase;
}

.section_5 .view_pc .sect5_bg .sect5_contact .width_47 .call {
  border: 2px solid #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

.section_5 .view_pc .sect5_bg .sect5_contact .width_47 .call:hover {
  background: #f47820;
  border: 2px solid #f47820;
}

.section_5 .view_pc .sect5_bg .sect5_contact .width_47 .contact {
  display: block;
  background: #f47820;
}

.section_5 .view_tabsp .sect5_bg {
  background: #003878;
}

.section_5 .view_tabsp .sect5_bg h1 {
  font-size: 10vw !important;
  letter-spacing: -0.02em;
  line-height: 120% !important;
}

.section_5 .view_tabsp .sect5_bg h3 {
  text-transform: uppercase;
}

.section_5 .view_tabsp .sect5_bg .sect5_contact .width_47 .call {
  border: 2px solid #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

.section_5 .view_tabsp .sect5_bg .sect5_contact .width_47 .call:hover {
  background: #f47820;
  border: 2px solid #f47820;
}

.section_5 .view_tabsp .sect5_bg .sect5_contact .width_47 .contact {
  display: block;
  background: #f47820;
}
